.App {
  padding: 25px;
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 50vmin;
}

.login-container {
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  margin: 1rem auto;
}

.signup-container{
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  margin: 1rem auto;
}

h2 {
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: white;
  margin-top: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 1rem;
  padding: 0.6rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.signup-text {
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.signup-text span {
  color: #007BFF;
  text-decoration: none;
  cursor: pointer;
}
